* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  border: 1px solid red;
}

p {
  font-family: 'Arial', cursive;
  font-size: 12px;
}

input,
select,
button {
  color: #ffffff;
  height: 36px;
  padding: 0 8px;
  margin: 4px;
  background-color: #1e1e1e;
  border: 2px solid #040404;
  border-left: 2px solid #625b5b;
  border-top: 2px solid #7d6b6b;
  user-select: none;
  cursor: pointer;
}

select {
  min-width: 100px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

button:hover {
  background-color: #3e3e3e;
}

button:active {
  background-color: #4c7c5b;
  transform: scale(0.95);
}

ul {
  font-family: 'Arial', cursive;
  text-align: left;
  font-size: 12px;
}

div.instructions {
  text-align: left;
}

/* stay at top visible if user scroll down */
div.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* === VERTICAL LIST === */

.vlist {
  display: flex;
  flex-direction: column;
  place-items: center;
  /* border: 1px solid blue; */
}

.hlist {
  display: flex;
  flex-direction: row;
  place-items: center;
  /* border: 1px solid green; */
}

/* === LOGO === */



.logo p {
  padding-top: 16px 0;
  font-family: 'Press Start 2P', cursive;
  color: rgba(136, 110, 45, 0.87);
}

/* === DISPLAY === */

canvas {
  display: block;
  border: 2px solid #3e3e3e;
}

/* === LED === */

.led-off {
  width: 16px;
  height: 16px;
  background-color: rgb(97, 92, 92);
  border-radius: 50%;
}

.led-reset {
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
}

.led-halt {
  width: 16px;
  height: 16px;
  background-color: rgb(0, 94, 255);
  border-radius: 50%;
}

.led-alert {
  width: 16px;
  height: 16px;
  background-color: yellow;
  border-radius: 50%;
}

.led-on {
  width: 16px;
  height: 16px;
  background-color: green;
  border-radius: 50%;
}

/* SECTION */

div.section {
  width: 1024px;
  border: 2px solid #cf6060;
}

div.section h4 {
  margin: 12px;
}

/* === REGISTER TABLE === */

div.registerview table {
  width: 100%;
  table-layout: fixed;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  font-size: 12px;
  border: 1px solid #474343;
}

.registerview td {
  width: 25%;
  height: 24px;
  background-color: #2a2929;
  font-size: 6px;
  text-align: center;
  white-space: nowrap;
  /* user-select: none; */
}

/* === MEMORY DUMP === */

.memorydump textarea {
  width: 100%;
  min-height: 1024px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  color: #d4d4d4;

  resize: none;
  outline: none;
  border: 1px solid #474343;
  background: transparent;
  box-shadow: none;
}

/* === KEYPAD === */

.keypadgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 8px;
}

.keypadgrid button {
  font-size: 16px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  user-select: none;
}


/* === BORDERS === */

.borderdownthin {
  background-color: #1a1a1a;
  border: 2px solid #040404;
  border-right: 2px solid #625b5b;
  border-bottom: 2px solid #625b5b;
  margin: 20px;
  padding: 10px;
}

.borderdown {
  padding: 2px;
  border: 8px solid #4d4949;
  border-left: 8px solid hsl(0, 7%, 18%);
  border-top: 8px solid hsl(0, 3%, 19%);
  border-right: 8px solid hsl(0, 8%, 72%);
  border-bottom: 8px solid hsl(0, 7%, 76%);
  margin-left: 32px;
}